<%provide(:title, "Index")  %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @new_task) do |f| %>
      <%= render "shared/error_messages" %>
      <%= f.label "タスク名" %>
      <%= f.text_field :title, class: 'form-control'%>

      <%= f.label "状況" %>
      <%= f.select :status, [["未着手", "Untouched"], ["進行中", "InProgress"], ["完了", "Completed"]],  class: 'form-control'%>
      <%= f.label "期日" %>
      <%= f.date_field :deadline, class: 'form-control' %>

      <%= f.submit "登録", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">タスク名</th>
      <th scope="col">状況</th>
      <th scope="col">期日</th>
    </tr>
  </thead>
  <tbody>
    <%@tasks.each_with_index do |task, i|%>
        <tr>
            <th scope="row"><%= i+1 %></th>
            <td><%= task.title %></td>
            <td><%= task.status %></td>
            <td><%= task.deadline %></td>
        </tr>
    <%end%>
  </tbody>
</table>