<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Todo App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Todo app", '#', id: "logo" %>
      </div>
    </header>
    <div class="container">
      <div class="center jumbotron">
        <h1>Todo App</h1>

        <h3>
          これはタスクを管理するTodoAppです。<br>
          Ruby on Railsの学習内容をアウトプットする目的で開発しました。
        </h3>
      </div>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
